{% extends "global/base.html" %}
{% load alfilters %}
{% block content_contratos %}
  <div class="single-contact">
    <h1 class="single-contact-name"> Informaçoes do contrato</h1><p><b></b></p>
      <p><b>Id Contrato</b> {{ contrato.pk }} </p>
      <p><b>Processo de origem</b> {{contrato.processo}} </p>
      <p><b>Contratante</b> {{contrato.contratante}} </p>
      <p><b>Nº contrato</b> {{contrato.numero}} </p>
      <p><b>Data de Inicio</b> {{contrato.inicio}} </p>
      <p><b>Vigencia</b>  {{contrato.vigencia}} </p>
      <p><b>data de encerramento(provavel)</b> {{contrato.fim_contrato}} </p>
      <p><b>valor total</b> {{contrato.valor_total|formata_preco}} </p>
      <p><b>Valor executado/Valor total</b>  {{contrato.executado|formata_preco}}/
                    {{contrato.valor_total|formata_preco}} </p>
      <p><b>Valor executavel/Valor total</b> {{contrato.executavel|formata_preco}}/
                    {{contrato.valor_total|formata_preco}} </p>
      <p><b>SEGURO</b> {{contrato.seguro}} </p>


    <h3> Documentos Disponiveis</h3>
        {% if arquivos %}
                <ul>
                    {% for tipo, tipo_arquivos in arquivos.items %}<br>
                        {% if tipo != "pedidos" %}
                            <li>
                            <b>{{ tipo }}</b>
                            <ul>
                                {% for arquivo in tipo_arquivos %}
                                    <p>Processo: {{ contrato.processo.pk }}</p>
                                    <p>Contrato: {{ contrato.pk }}</p>
                                    <a
                                 href="{{ MEDIA_URL }}processos/{{ contrato.processo.pk }}/contratos/{{ contrato.pk }}/{{ tipo }}/{{ arquivo }}" download>

                                    <li>{{ arquivo}}</li>
                                    </a>
                                    <form action="{% url 'processos:deletefilescontract' contrato.processo.pk  contrato.pk  %}"
                                          method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="acao" value="deletar">
                                    <input type="hidden" name="arquivo" value="{{ arquivo }}">
                                    <input type="hidden" name="tipo" value="{{ tipo }}">
                                    <button type="submit"
                                            class="btn btn-danger" onclick="return confirm('Deseja deletar este arquivo?')"
                                            style="flex: 1; height: 25px;width: 25%; text-align: center; padding: 10px;
                                            background-color: #007bff;
                                            color: #fff; border: none; border-radius: 5px; cursor: pointer;"
                                    >
                                        Deletar</button>
                                </form>
                                {% endfor %}
                            </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul><br>
            {% else %}
                <p>Nenhum arquivo disponivel para este processo</p>
        {% endif %}






   <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px; align-items: stretch;">
                <form method="post" action="{% url 'processos:atualizarcontrato' contrato.pk %}"
                      style="margin: 0; flex: 1;"><!-- AQUI VAI ATUALIZAÇÃO DO CONTRAATO-->
                        {% csrf_token %}
                        <a href="{% url 'processos:atualizarcontrato' contrato.pk %}" style="flex: 1;
                        height: 50px;width: 50%;
                        text-align: center;
                        display: flex; align-items:center; justify-content: center; background-color: #007bff;
                        color: #fff; text-decoration: none; border-radius: 5px; cursor: pointer;">
                                ATUALIZAR CONTRATO
                        </a>
                </form>

                <form method="post" action="{% url 'processos:deletarcontrato' contrato.processo.pk  contrato.pk %}" style="margin: 0; flex: 1;">
                    {% csrf_token %}
                    <button
                        style="flex: 1; height: 50px;width: 50%; text-align: center; padding: 10px;
                        background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;"
                        onclick="return confirm('Ao apagar o processo, ' +
                         'contratos e pedidos associados serão perdidos')">
                        Excluir
                    </button>
                </form>

            <form method="post" action="{% url 'processos:criarpedido' contrato.pk %}" style="margin: 0;
            flex: 1;"><!-- AQUI VAI inserir pedido-->
                {% csrf_token %}
                <button type="submit"
                    style="flex: 1; height: 50px;width: 50%; text-align: center; padding: 10px;
                     background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">
                    Inserir pedido
                </button>
            </form>

       <a href="{% url 'processos:listarcontratos' %}"
            style="flex: 1; height: 50px;width: 50%; text-align: center; display: flex; align-items:
            center; justify-content: center; background-color: #007bff; color: #fff;
            text-decoration: none; border-radius: 5px; cursor: pointer;">
            Retornar
        </a>

</div><br>



    <h2> Pedidos deste Contrato</h2>

     <div class="responsive-table">
    <table class="contacts-table">
        <caption class="table-caption">
            <h1>Pedidos</h1>
        </caption>
        <thead>
           <tr class="table-row table-row-header">
                <th class="table-header" style="text-align: center">Id do pedido</th>
                <th class="table-header" style="text-align: center">Contrato</th>
                <th class="table-header" style="text-align: center">Numero</th>
                <th class="table-header" style="text-align: center">Contratante</th>
                <th class="table-header" style="text-align: center">Data entrega</th>
                <th class="table-header" style="text-align: center">Unidade de fornecimento</th>
                <th class="table-header" style="text-align: center">Coordenador</th>


           </tr>
        </thead>
        <tbody>

        </tbody>
            {% for pedido in pedidos %}
            <tr class="table-row">
                <td class="table-cel" style="text-align: center">
                    <a href="{% url 'processos:detalhe_pedido' contrato.pk pedido.pk %}">
                                {{ pedido.pk }}
                    </a>
                </td>
                <td class="table-cel" style="text-align: center">{{pedido.contrato}}</td>

                <td class="table-cel" style="text-align: center">{{pedido.numero}}</td>

                <td class="table-cel" style="text-align: center">{{pedido.contratante}}</td>

                <td class="table-cel" style="text-align: center">{{pedido.data_entrega}}</td>

                <td class="table-cel" style="text-align: center">{{pedido.unidade_fornecimento}}</td>

                <td class="table-cel" style="text-align: center">{{pedido.coordenador}}</td>
            </tr>



            {% endfor %}
    </table>
   </div>


  </div>

{% endblock %}