{% extends "global/base.html" %}
{% load crispy_forms_tags %}

{% block content_processos %}
<div class="form-wrapper">
    <!-- O atributo action usa a mesma URL associada à view -->
    <form
        action=""
        method="post"
        enctype="multipart/form-data"> <!-- Necessário se houver upload de arquivos -->
        <h1>PROCESSO</h1>

        {% csrf_token %} <!-- Proteção contra ataques CSRF -->

        <!-- Renderiza o formulário com estilo do Crispy Forms -->
        {{ process_form|crispy}}

        <!-- Botões de submissão -->
        <div class="d-flex justify-content-between">
            <a href="{% url 'processos:inserirprocesso' %}" class="btn btn-secondary">
                <button type="submit" class="btn btn-primary"><b>INSERIR</b></button></a>

            <a href="{% url 'processos:processo' %}" class="btn btn-secondary">

                <button type="submit" class="btn btn-primary"><b>retornar</b></button>
            </a>
        </div>
    </form>
</div>
{% endblock %}