{% extends "global/base.html" %}
{% load alfilters %}

{% block searchpedidos %}
<div class="search">
        <form action="{% url 'processos:listarpedidos' %}" method="get">
            <input
                type="text"
                class="search-input"
                placeholder="SEARCH"
                name="q"
                id="search"
                value="{{ request.GET.q }}"
                style="background: slategray"
            >
        </form>
</div>

{% endblock %}

{% block content_pedidos %}
    <h1 class="table-header" style="text-align: center">COMERCIAL</h1>
   <div class="responsive-table">
    <table class="contacts-table">
        <caption class="table-caption">
            <h1>Pedidos</h1>
        </caption>
        <thead>
           <tr class="table-row table-row-header">
                <th class="table-header" style="text-align: center">Id do pedido</th>
                <th class="table-header" style="text-align: center">Contrato</th>
                <th class="table-header" style="text-align: center">Numero</th>
                <th class="table-header" style="text-align: center">Contratante</th>



               <th class="table-header" style="text-align: center">
                    <a href="?q={{ request.GET.q }}&sort={% if request.GET.sort == 'data_entrega' %}data_entrega_asc{% elif request.GET.sort == 'data_entrega_asc' %}data_entrega{% else %}data_entrega{% endif %}">
                        Data entrega
                        {% if request.GET.sort == 'data_entrega' %}
                            <span>&#9650;</span> <!-- codigo  Ícone de ordenação crescente -->
                        {% elif request.GET.sort == 'data_entrega_asc' %}
                            <span>&#9660;</span> <!-- codigo Ícone de ordenação decrescente -->
                        {% else %}
                            <span>&#9651;</span> <!--codigo Ícone neutro quando sem ordenação -->
                        {% endif %}
                    </a>
                </th>

                <th class="table-header" style="text-align: center">Unidade de fornecimento</th>
                <th class="table-header" style="text-align: center">Coordenador</th>


               <th class="table-header" style="text-align: center">
                    <a href="?q={{ request.GET.q }}&sort={% if request.GET.sort == 'valor' %}valor_asc{% elif request.GET.sort == 'valor_asc' %}valor{% else %}valor{% endif %}">
                        Valor
                        {% if request.GET.sort == 'valor' %}
                            <span>&#9650;</span> <!-- codigo  Ícone de ordenação crescente -->
                        {% elif request.GET.sort == 'valor_asc' %}
                            <span>&#9660;</span> <!-- codigo Ícone de ordenação decrescente -->
                        {% else %}
                            <span>&#9651;</span> <!--codigo Ícone neutro quando sem ordenação -->
                        {% endif %}
                    </a>
                </th>

            <th class="table-header" style="text-align: center">
                    Status pedido
                    <form  action="{% url 'processos:listarpedidos' %}" method="get" >

                        {% for key , value  in request.GET.items %}
                            {% if key != seguro %}
                            <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endif %}
                        {% endfor %}

                        <select name="status" onchange="this.form.submit()" id="">
                            <option value="" {% if not request.GET.seguro %}selected{% endif %}>
                                SELECIONE
                            </option>

                            {% for situacao in status %}
                                <option value="{{ situacao }}" {% if request.GET.seguro == seguro %}selected {% endif %}>
                                    {{situacao}}
                                </option>
                            {% endfor %}
                        </select>

                    </form>
                </th>

                

           </tr>
        </thead>
        <tbody>

        </tbody>
            {% for pedido in pedidos %}
            <tr class="table-row">
                <td class="table-cel" style="text-align: center">
                    <a href="{% url 'processos:detalhe_pedido_tabela' pedido.pk %}">
                                {{ pedido.pk }}
                    </a>
                </td>
                <td class="table-cel" style="text-align: center">{{pedido.contrato}}</td>

                <td class="table-cel" style="text-align: center">{{pedido.numero}}</td>

                <td class="table-cel" style="text-align: center">{{pedido.contratante}}</td>

                <td class="table-cel" style="text-align: center">{{pedido.data_entrega}}</td>

                <td class="table-cel" style="text-align: center">{{pedido.unidade_fornecimento}}</td>

                <td class="table-cel" style="text-align: center">{{pedido.coordenador}}</td>

                <td class="table-cel" style="text-align: center">{{pedido.valor}}</td>
                 <td class="table-cel" style="text-align: center">{{pedido.status}}</td>

            </tr>


            
            {% endfor %}
    </table>
   </div> 
    

{% endblock content_pedidos %}