{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   {% include "global/partials/_head.html" %}

</head>

<body>

<header class="header">
    {% block header_rh %}{% endblock %}
    {% block header_processos %}{% endblock %}
    {% block header_financeiro %}{% endblock %}
    {% block searchfinan %}{% endblock %}
    {% block searchprocesso %}{% endblock %}
    {% block searchcontrato %}{% endblock %}
    {% block searchpedidos %}{% endblock %}
    {% block searchrh %}{% endblock %}
    {% block content_menu_inicial %}{% endblock content_menu_inicial %}
    {% block header_login %}{% endblock %}
</header>

<div>
    {% include "global/partials/_messages.html" %}
</div>

    <main class="content">
        {% block content %}{% endblock content %}
        {% block content_pedidos %}{% endblock content_pedidos %}
        {% block content_processos %}{% endblock content_processos %}
        {% block content_contratos %}{% endblock content_contratos %}
        {% block content_rh %}{% endblock content_rh %}
        {% block content_finan %}{% endblock content_finan %}
    </main>
<div>
    {% include "global/partials/_pagination.html" %}
</div>

 <script>
        document.querySelectorAll('select').forEach(select => {
            select.addEventListener('change', function () {

                const isAnySelectOptionEmpty = Array.from(select.options).
                some(option => option.value === "" && option.selected);

                if (isAnySelectOptionEmpty) {

                    const url = new URL(window.location.href);
                    url.searchParams.delete(this.name);
                    window.location.href = url.toString();
                }
            });
        });
</script>

</body>
</html>